alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias gaa="git add ."
alias gc="git commit -m"
alias gp="git push"
alias nah="git reset --hard && git clean -df"
alias ea="vim ~/.aliases"
alias code="cd ~/projects"
alias gcn="git clean -nd"
alias gcd="git clean -fd"
alias gmt="git mergetool"
alias gb="git branch"
alias g="git"
alias gco="git checkout"
alias c="clear"
alias jn="jupyter notebook"
alias spy="spyder"
alias bi-dep="cd ~/pprojects/bi-scripts/deploy"
alias bi-deploy="ansible-playbook -i ansible_hosts scripts_playbook.yml"

# Environments
alias tf="source ~/tensorflow/bin/activate"
alias favedc="source ~/projects/envs/favedc/bin/activate"
alias bi2="source ~/projects/envs/bi-scripts2/bin/activate"
alias datasync="source ~/projects/envs/datasync/bin/activate"