[user]
	name = Aiyas
	email = aiyas.aboobakar@gmail.com
[color]
	ui = true
[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"

[merge]
  tool = meld

[mergetool]
  prompt = false
	keepBackup = false

[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
